.idea
.vscode/

# SAM build artifacts
.aws-sam/
.ddbdata/

# Python junks
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
dist/
build/
.venv/
.uv/

.cache/
.pytest_cache/
.coverage
coverage.xml
web/index.html

# terrorform
.terraform/
*.tfstate
*.tfstate.backup
crash.log

.DS_Store

.sam-local.out
.sam-local.pid
.dist/

# GET OFF MY LAWN
*.swp
