name: Terraform Plan

on:
  pull_request:
    branches: [main]
    paths:
      - '**/*.tf'
      - 'lambda/**'
      - '.github/workflows/**'

env:
  AWS_REGION: us-east-2

concurrency:
  group: the-one-group-to-rule-them-all
  cancel-in-progress: false

jobs:
  plan:
    name: Terraform Plan
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write
      id-token: write  # Required for OIDC

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: arn:aws:iam::628639830692:role/bruce-quotes-github-terraform-plan
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Plan
        uses: thekbb/terraform-plan-commenter-action@v1
        with:
          terraform-version: '1.14.3'
